//font MyriadPro for checkboxMessage
@font-face {
  font-family: "MyriadProRegular";
  src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
  src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
    url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

*,
*::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: url("../../img/Form-style3.png") repeat center;
  font-family: "Source Sans Pro", sans-serif;
  display: flex;
  padding: 20% 5% 20% 10%;
  .container {
    max-width: 827px;
    width: 100%;
    margin: 0 auto;
    padding: 5% 0 5% 10%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
